* {
  box-sizing: border-box;
}
body {
  font-family: "Oxygen", sans-serif;
}
.profilePicture {
  border-radius: 50%;
  width: 100%;
}
/******Style Navigation******/
nav {
  background-color: #e3f2fd;
}
.navbar {
  --bs-navbar-padding-y: 0 !important;
}
.nav-link {
  color: rgba(0, 57, 117, 0.553) !important;
}
.nav-link:hover {
  background-color: #ffffff;
  color: rgb(46, 97, 152) !important;
  transition: all 0.5s;
}
.nav-link:visited {
  color: rgb(35, 118, 82) !important;
}
/******Style Links******/
a {
  color: rgb(21, 127, 165) !important;
}
a:hover {
  color: rgb(50, 93, 137) !important;
}
a:visited {
  color: rgb(37, 143, 126) !important;
}
/******Sections******/
h3 {
  font-weight: bolder;
  font-size: 25px;
  color: rgb(46, 97, 152);
}
section {
  scroll-margin-top: 40px;
}
section ul {
  list-style: none;
}
section li {
  padding: 0 0.5em 0 1em;
}
section li:before {
  content: "-";
  padding-right: 5px;
}
/*Optional class to add background to sections and cards*/
.addBackground {
  background-color: rgba(210, 210, 210, 0.361);
}
.addBackgroundBlue {
  background-color: rgba(73, 137, 177, 0.687);
  color: white;
}

/**** Slideshow container for projects display cards ****/
.card-header {
  color: white !important;
  background-color: rgba(73, 137, 177, 0.687) !important;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.flashcardSlides,
.librarySlides,
.decoderSlides {
  display: none;
  animation: fade 2s 1 forwards;
}
/* Set width of slideshow images */
.slideshow-container img {
  width: 100%;
}
/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white!important;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/***** Format Footer *****/
footer a img {
  height: 30px;
}
footer{
  margin-top: 2%;
  padding-top: 15px;;

}
footer .col{
  width: fit-content!important
}